<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GenerationReportTestInputFilePath" value="C:\ManiTestProjects\BradyCodeTest\BradyCodeTest.UnitTest\TestXmlFiles\01-Basic-Test.xml"/>
		<add key="GenerationTestOutputFilePath" value="C:\ManiTestProjects\BradyCodeTest\BradyCodeTest.UnitTest\TestXmlFiles\TestOutPutGenaratedFiles\"/>
		<add key="ReferenceTestDataFilePath" value="C:\ManiTestProjects\BradyCodeTest\ReferenceData\ReferenceData.xml"/>
		<add key="ProcessedFilesPath" value="C:\ManiTestProjects\BradyCodeTest\Input\ProcessedFiles\"/>
	</appSettings>
</configuration>