<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GenerationReportInputFilePath" value="C:\ManiTestProjects\BradyCodeTest\Input\GenerationReport.xml"/>
		<add key="GenerationOutputFilePath" value="C:\ManiTestProjects\BradyCodeTest\Input\GenerationOutput.xml"/>
		<add key="ReferenceDataFilePath" value="C:\ManiTestProjects\BradyCodeTest\Input\ReferenceData.xml"/>
	</appSettings>
</configuration>