<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GenerationReportInputFilePath" value="C:\ManiTestProjects\BradyTestFiles\Input\"/>
		<add key="GenerationOutputFilePath" value="C:\ManiTestProjects\BradyTestFiles\Output\"/>
		<add key="ReferenceDataFilePath" value="C:\ManiTestProjects\BradyCodeTest\ReferenceData\ReferenceData.xml"/>
		<add key="ProcessedFilesPath" value="C:\ManiTestProjects\BradyTestFiles\ProcessedFiles\"/>
	</appSettings>
</configuration>